# General packages
pytest
pytest-cov
ipdb
pdbpp
pandas
numpy
click

pydantic
pydantic-yaml

# Google cloud packages
google-api-python-client
google-api-python-client-stubs
google-auth-httplib2
google-auth-oauthlib
oauth2client
gspread

# mypy and related packages required for mypy to work with other modules
mypy
pandas-stubs
types-openpyxl
